@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.grid-row{
  grid-template-rows: 200px, 200px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1{
  font-size: 20px;
  margin-bottom: 18px;
  text-align: center;
  text-decoration: underline;
  color: mediumvioletred;
}
p{
  color:rgb(225, 59, 59)
}